<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title>
			{% block title %}My Photo Cliches Precieux
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="icon" type="image/jpg" href="{{ asset('images/logo.jpg') }}"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include '_compenents/header.html.twig' %}

		{% block body %}{% endblock %}

		{% include "_compenents/footer.html.twig" %}
	</body>
	<script src="{{ asset('app.js') }}"></script>

</html>
