<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title>
			{% block title %}My Photo Cliches Precieux
			{% endblock %}
		</title>

		{# CSS externe #}
		<link
		rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

		{# CSS compilé par Webpack Encore #}
		{{ encore_entry_link_tags('app') }}

		{# Favicon - à placer dans public/images/ #}
		<link rel="icon" type="image/jpg" href="{{ asset('images/logo.jpg') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include '_compenents/header.html.twig' %}

			{% block body %}{% endblock %}

			{% include "_compenents/footer.html.twig" %}

			{# JS compilé par Webpack Encore #}
			{{ encore_entry_script_tags('app') }}

			{% block javascripts %}
				{% block importmap %}
					{{ importmap('app') }}
				{% endblock %}
			{% endblock %}
		</body>
	</html>
