{% extends 'base.html.twig' %}
{% block body %}
	<section class="RGPD">
		<h1 class="rgpd-titre">Législation & RGPD</h1>
		<h1>1. Informations relatives à l'hébergeur</h1>
		<p>OVH SAS Adresse du siège social :</p>
		<p>2 rue Kellermann - 59100 Roubaix - France</p>
		<p>Numéro de téléphone : 09 72 10 10 07</p>
		<br>
		<h1>2. Informations relatives à l'éditeur</h1>
		<p>Nom - Prénom : MY PHOTO</p>
		<p>Forme juridique : Auto entrepreneur</p>
		<p>Enseigne : MY PHOTO</p>
		<p>Adresse : 88 Rue du sadi carnot, 62660 beuvry, France</p>
		<p>Téléphone : 0617813246</p>
		<p>E-mail : myphoto.clichesprecieux@gmail.com</p>
		<p>Directeur de publication : Alisone Delatre</p>
		<p>Siren : 918652413</p>
		<p>Siret : 91865241300017</p>
		<br>
		<h1>3. Médiateur à la consommation</h1>
		<p>Nom :</p>
		<p>Organisme de médiation :</p>
		<p>Email :</p>
		<p>Téléphone :</p>
		<p>Adresse :</p>
		<br>
		<h1>4. Conditions d'utilisation</h1>
		<p>Le site est accessible par l'url myphotoclicheprecieux.fr.

			<br>Son utilisation est régie par les présentes conditions générales.
			<br>En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.
			<br>Celles-ci pourront être modifiées à tout moment et sans préavis par la société MY PHOTO.
			<br>L'entreprise MY PHOTO ne saurait être tenue pour responsable en aucune manière d'une mauvaise utilisation du service.</p>

		<h1>5. Limitation de la responsabilité</h1>

		<p>Les informations contenues sur ce site sont aussi précises que possible et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes.
			<br>Si vous constatez une erreur ou ce qui peut être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible.
			<br>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, l'entreprise MY PHOTO ne saurait être tenue responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
			<br>Les photos sont non contractuelles. Les liens hypertextes mis en place sur ce site internet en direction d'autres sites internet ne sauraient engager la responsabilité de MY PHOTO.</p>
		<h1>6. Litiges</h1>

		<p>Les présentes conditions sont régies par les lois françaises et toute contestation ou litige qui pourrait naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence des tribunaux français.
			<br>La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
		<h1>7. Droit d'accès, de rectification et de suppression de vos données</h1>

		<p>En application de la loi informatique et libertés, les internautes disposent d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement.
			<br>Le droit d'accès :
			<br>ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant, en écrivant à l'adresse électronique suivante.
			<br>Dans ce cas, avant la mise en œuvre de ce droit, la Plateforme peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude.
			<br>Le droit de rectification : si les données à caractère personnel détenues par la Plateforme sont inexactes, ils peuvent demander la mise à jour des informations.
			<br>Le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.
			<br>Ce droit peut être exercé par voie postale auprès de MY PHOTO, 88 Rue du sadi carnot, 62660 beuvry, France ou par voie électronique à
			<br>l'adresse email suivante : myphoto.clichesprecieux@gmail.com.
			<br>Les informations personnelles collectées sont confidentielles et ne sont en aucun cas transmises à des tiers hormis pour l'éventuelle bonne exécution de la prestation commandée par l'internaute.
			<br>En vertu de la loi n° 2000-719 du 1er août 2000, les coordonnées déclarées par l'acheteur pourront être communiquées sur réquisition des autorités judiciaires.</p>
		<br>

		<h1>8. Collecte et protection des données</h1>

		<p>Vos données sont collectées par MY PHOTO.</p>
		<p>Une donnée à caractère personnel désigne toute information concernant une personne physique identifiée ou identifiable (personne concernée); est réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par référence à un nom, un numéro d'identification ou à un ou plusieurs éléments spécifiques, propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.
			<br>Les informations personnelles pouvant être recueillies sur le site sont principalement utilisées par l'éditeur pour la gestion des relations avec vous.</p>
		<br>
		<h1>A. Les données personnelles collectées dans les formulaires de contact sont les suivantes :</h1>

		<p>Nom et prénom</p>
		<p>Adresse mail</p>
		<p>Numéro de téléphone</p>
		<p>Afin de traiter votre demande, MY PHOTO devra effectuer un traitement des données personnelles vous concernant.
			<br>Les données sont conservées pendant deux (2) ans à compter de notre dernier contact et sont destinées exclusivement à MY PHOTO, elles ne seront pas transmises à des tiers.</p>
		<br>
		<h1>B. Les données personnelles collectées dans les formulaires d'inscription aux newsletters sont les suivantes :</h1>

		<p>Adresse mail Vous aurez le choix d'accepter ou non de recevoir :
			<br>– Des newsletters contenant les dernières actualités de la société MY PHOTO ;
			<br>– Des publicités adressées par des partenaires commerciaux.
			<br>En renseignant votre email, vous affirmez avoir pris connaissance de nos mentions légales. Votre email sera conservé tant que vous ne nous ferez pas la demande de suppression de cette donnée. Vous pourrez vous désinscrire à tout moment à l'aide des liens de désinscription présents sur les communications ou en nous contactant : MY PHOTO, 88 Rue du sadi carnot, 62660 beuvry, France 0617813246 - myphoto.clichesprecieux@gmail.com</p>

		<h1>9. Propriété intellectuelle</h1>

		<p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société MY PHOTO à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs (ex: AdobeStock, ShutterStock, FontAwesome, Freepik).
			<br>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord express par écrit de MY PHOTO.</p>
		<br>
		<h1>10. Gestion des « cookies »</h1>
		<p>Qu'est-ce qu'un « cookie » ? Un « cookie » ou traceur est un fichier électronique déposé sur un terminal (ordinateur, tablette, smartphone,...) et lu par exemple lors de la consultation d'un site internet, de la lecture d'un courrier électronique, de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile et ce quel que soit le type de terminal utilisé (source : https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi).
			<br>En naviguant sur ce site, des « cookies » émanant de la société responsable du site concerné et/ou des sociétés tiers pourront être déposés sur votre terminal.
			<br>Lors de la première navigation sur ce site, une fenêtre de gestion du consentement des « cookies » apparaîtra.
			<br>Dès lors, pour poursuivre la navigation sur le site web, vous devrez donner au choix soit votre accord ou soit votre désaccord.
			<br>Vous aurez également à disposition dans cet outil de consentement, la personnalisation du choix des catégories de « cookies » à accepter ou non.
			<br>Le consentement donné sera stocké sous forme de « cookies » fonctionnel dans votre navigateur, valable pour une période de trois (3) mois.
			<br>L'utilisateur a la possibilité de modifier son choix à tout moment en cliquant ici : Modifier vos préférences.
			<br>Les « cookies » présents sur ce site internet se présentent sous trois (3) catégories :</p>

		<h1>A. Cookies essentiels</h1>
		<p>Ce site utilise des cookies nécessaires à son bon fonctionnement.
			<br>C'est pour cela qu'ils doivent rester activés.</p>
		<br>
		<h1>B. Cookies de performance</h1>
		<p>Ces cookies nous aident à améliorer votre expérience en ligne.
			<br>Ils ne sont pas essentiels, mais sans eux, certaines fonctionnalités peuvent ne pas fonctionner.
			<br>Ces cookies nous permettent de déterminer le nombre de visites et les sources du trafic, afin de mesurer et d'améliorer les performances de notre site Web.
			<br>Ils nous aident également à identifier les pages les plus / moins visitées et d'évaluer comment les visiteurs naviguent sur le site Web.
			<br>Toutes les informations collectées par ces cookies sont agrégées et donc anonymisées.</p>
		<br>
		<h1>C. Cookies de publicité ciblée</h1>
		<p>Les cookies marketing sont généralement utilisés pour vous montrer des publicités qui correspondent à vos intérêts. Lorsque vous visitez un autre site Web, le cookie de votre navigateur est reconnu et des publicités sélectionnées vous sont affichées en fonction des informations stockées dans ce cookie. Toutes les informations collectées par nos « cookies » de performance ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l'agencement et à d'autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons. Pour plus d'informations sur l'utilisation, la gestion et la suppression des « cookies », pour tout type de navigateur, nous vous invitons à consulter le lien suivant : https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.</p>
		<br>
		<h1>11. Prestataire technique</h1>
		<p>Les prestations techniques sont assurées par De Mol Noémie</p>
	</section>
{% endblock %}
